snippet fk_ren "Rename Foreign key" A
ALTER TABLE ${1:TBL_NAME} DROP FOREIGN KEY ${2:OLD_FK_NAME};
ALTER TABLE $1 DROP KEY $2;
ALTER TABLE $1 CHANGE ${3:OLD_COL_NAME} ${4:NEW_COL_NAME} ${5:NEW_COL_TYPE};
ALTER TABLE $1 ADD KEY ${6:NEW_KEY} ($4);
ALTER TABLE $1 ADD CONSTRAINT $3 FOREIGN KEY ($4) REFERENCES ${7:TBL_REFER} (${8:TBL_REFER_COL}); 
endsnippet

snippet ch_col "Change column name/type" A
ALTER TABLE ${1:TBL_NAME} CHANGE ${2:OLD_COL_NAME} ${3:NEW_COL_NAME} ${4:NEW_COL_TYPE};
endsnippet
