[submodule "Plugins/nerdcommenter"]
	path = Plugins/nerdcommenter
	url = git@github.com:scroolose/nerdcommenter.git
[submodule "Plugins/nerdtree"]
	path = Plugins/nerdtree
	url = git@github.com:scroolose/nerdcommenter.git
[submodule "Plugins/ultisnips"]
	path = Plugins/ultisnips
	url = git@github.com:sirver/ultisnips.git
[submodule "Plugins/vim-snippets"]
	path = Plugins/vim-snippets
	url = git@github.com:honza/vim-snippets
